[tool.black]
line-length = 200
extend-exclude = '''
/(
  \.venv
| venv
| output
| build
| dist
)/
'''

[tool.isort]
profile = "black"
line_length = 200
skip = [".venv","venv","output","build","dist"]
